/* Text and background colors */
$accent-1: #1F9DA5;
$accent-1-hover: #23B1BA;
$accent-2: #E38244;
$accent-2-hover: #E6915A;
$bg-dark: #313131;
$bg-dark-hover: #4A4A4A;
$bg-light: #F4F4F4;
$text-dark: #313131;
$text-light: #F4F4F4;

/* Borders */
$border: #313131;

/* Border radius */
$border-radius-1: 30px;
$border-radius-2: 40px;
$border-radius-3: 16px;
$border-radius-4: 10px;

/* Breakpoints */
$xs: 375px;
$s: 560px;
$m: 768px;
$l: 992px;
$xl: 1024px;
$xxl: 1200px;

/* Fonts */
$font-light: 400;
$font-regular: 500;
$font-bold: 800;
