.sectionWrapper {
	padding-top: 104px;
	padding-bottom: 85px;
	border-radius: 40px;

	@media (max-width: #{$l}) {
		padding-top: 70px;
		padding-bottom: 60px;
		border-radius: 27px;
	}

	@media (max-width: #{$m}) {
		padding-top: 30px;
		padding-bottom: 30px;
		border-radius: 10px;
	}
}

.contacts {
	border-radius: 40px;
	position: relative;
	height: 0;
	overflow: hidden;
	padding-top: 21%;
	margin-bottom: 70px;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (max-width: #{$xxl}) {
		padding-top: 23%;
		margin-bottom: 55px;
	}

	@media (max-width: #{$l}) {
		border-radius: 27px;
		padding-top: 25%;
		margin-bottom: 46px;
	}

	@media (max-width: #{$m}) {
		padding-top: 28%;
	}

	@media (max-width: #{$s}) {
		border-radius: 13px;
		margin-bottom: 28px;
		padding-top: 35%;
	}
}

.contactsTitle,
.citiesTitle {
	@include fontTitle;
	line-height: 100%;
	color: $text-light;
	position: absolute;
	top: 40px;

	@media (max-width: 1300px) {
		font-size: 2.8vw;
	}
}

.contactsTitle {
	left: 70px;

	.arrow {
		position: absolute;
		top: 100%;
		right: -36px;
		z-index: 10;
		transform: rotate(-90deg);
	}

	@media (max-width: #{$xxl}) {
		left: 50px;
	}

	@media (max-width: #{$xl}) {
		left: 40px;

		.arrow {
			--width: 28px;
			--height: 28px;
			right: -30px;
		}
	}

	@media (max-width: #{$l}) {
		.arrow {
			--width: 24px;
			--height: 24px;
			right: -26px;
		}
	}

	@media (max-width: #{$m}) {
		top: 15px;
		left: 15px;
		font-size: 25px;
	}
}

.citiesTitle {
	right: 80px;

	span {
		color: $accent-2;
	}

	@media (max-width: #{$xxl}) {
		right: 50px;
	}

	@media (max-width: #{$xl}) {
		right: 40px;
	}

	@media (max-width: #{$m}) {
		top: 80px;
		left: 15px;
		font-size: 4.5vw;
	}

	@media (max-width: #{$s}) {
		top: 80px;
	}

	@media (max-width: 430px) {
		top: 70px;
	}
}

.legend {
	@include fontSecondary;
	color: $text-dark;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;

	@media (max-width: #{$xxl}) {
		font-size: 34px;
		line-height: 100%;
	}

	@media (max-width: #{$l}) {
		font-size: 20px;
		margin-bottom: 23px;
		max-width: 80%;
	}

	@media (max-width: #{$s}) {
		font-size: 13px;
		margin-bottom: 15px;
	}
}

.fields {
	max-width: 95%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;

	@media (max-width: #{$m}) {
		flex-flow: column;
	}

	fieldset:not(:last-child) {
		width: 36%;

		@media (max-width: #{$xxl}) {
			width: 35%;
		}

		@media (max-width: #{$m}) {
			width: 100%;
		}
	}

	fieldset:not(:first-child) {
		margin-left: 50px;

		@media (max-width: #{$xxl}) {
			margin-left: 30px;
		}

		@media (max-width: #{$m}) {
			margin-left: 0;
		}
	}

	fieldset:last-child {
		width: 20%;
	}

	fieldset {
		height: 100%;

		@media (max-width: #{$l}) {
			max-height: 45px;
		}

		@media (max-width: #{$m}) {
			margin-bottom: 15px;
		}
	}
}

.submitButton {
	background-color: $accent-2;
	color: $text-dark;
	cursor: pointer;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	border-radius: 30px;
	width: 100%;
	height: 100%;
	max-width: 250px;
	margin-left: 50px;
	padding: 9px 40px;

	@media (max-width: #{$xxl}) {
		font-size: 26px;
		padding: 10px 35px;
		max-width: 230px;
		margin-left: 30px;
	}

	@media (max-width: #{$xl}) {
		font-size: 24px;
		max-width: 200px;
	}

	@media (max-width: #{$l}) {
		font-size: 20px;
		max-width: 160px;
		padding: 5px 20px;
	}

	@media (max-width: #{$s}) {
		padding: 4px 14px;
		font-size: 12px;
		align-self: flex-end;
		width: 96px;
	}
}
